In [1]:
import pandas

In [2]:
import pandas as pan

In [ ]:
pan.__version__

In [ ]:
season={"rainy":{1:'nov',2:'dec',3:'jun',4:'jul'},"dry":{1:'mar',2:'apr',3:'may',4:'aug'}}
s=pan.DataFrame(season,columns=["rainy","dry"])

In [ ]:
s

In [3]:
import numpy as ny

In [4]:
a=pan.DataFrame(ny.random.randint(0,10,size=(5,26)),columns=list('abcdefghijklmnopqrstuvwxy1'))

In [5]:
a

   a  b  c  d  e  f  g  h  i  j  ...  q  r  s  t  u  v  w  x  y  1
0  4  9  9  1  3  6  5  7  2  9  ...  9  6  4  4  4  1  3  7  8  2
1  9  4  4  9  1  6  1  1  0  0  ...  5  1  6  7  0  4  2  7  9  0
2  0  1  1  4  3  4  6  0  8  4  ...  9  8  6  5  5  4  8  6  8  1
3  4  8  4  6  9  9  5  5  5  3  ...  6  0  7  6  1  3  1  7  1  3
4  7  6  5  4  4  4  5  3  2  1  ...  7  2  0  1  8  2  3  8  6  4

[5 rows x 26 columns]

In [8]:
a.to_csv('D:/riyas/pandas.csv')

In [9]:
a=pan.read_csv('D:/riyas/pandas.csv')

In [10]:
a

   Unnamed: 0  a  b  c  d  e  f  g  h  i  ...  q  r  s  t  u  v  w  x  y  1
0           0  4  9  9  1  3  6  5  7  2  ...  9  6  4  4  4  1  3  7  8  2
1           1  9  4  4  9  1  6  1  1  0  ...  5  1  6  7  0  4  2  7  9  0
2           2  0  1  1  4  3  4  6  0  8  ...  9  8  6  5  5  4  8  6  8  1
3           3  4  8  4  6  9  9  5  5  5  ...  6  0  7  6  1  3  1  7  1  3
4           4  7  6  5  4  4  4  5  3  2  ...  7  2  0  1  8  2  3  8  6  4

[5 rows x 27 columns]

In [13]:
a.drop("c",axis=1)

   Unnamed: 0  a  b  d  e  f  g  h  i  j  ...  q  r  s  t  u  v  w  x  y  1
0           0  4  9  1  3  6  5  7  2  9  ...  9  6  4  4  4  1  3  7  8  2
1           1  9  4  9  1  6  1  1  0  0  ...  5  1  6  7  0  4  2  7  9  0
2           2  0  1  4  3  4  6  0  8  4  ...  9  8  6  5  5  4  8  6  8  1
3           3  4  8  6  9  9  5  5  5  3  ...  6  0  7  6  1  3  1  7  1  3
4           4  7  6  4  4  4  5  3  2  1  ...  7  2  0  1  8  2  3  8  6  4

[5 rows x 26 columns]